* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    background-color: #1E2538;
    overflow-x: hidden;
}



/* ************************************************ */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

.menu_box {
    display: flex;
    gap: 15px;
}

.menu_box a {
    color: white;
    font-size: 17px;
    font-weight: 700;
}

.user_box_search {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;

}

.user_box_search img {
    width: 100%;
    height: 100%;
}

.user_box {
    display: flex;
    gap: 12px;
}

.user_box_sign {
    cursor: pointer;
    border-radius: 10px;
    background: #3657CB;
    box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.80);
    color: white;
    width: 138px;
    height: 53px;
}

/* ******************************************** */

.bg_poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-position: center;
    background-size: cover;
    transition: 1s ease;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to top, #1e2538 10%, rgba(0, 0, 0, 0) 100%);
    }
}

.bg_poster.change {
    animation: change 1s ease;
}

@keyframes change {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}






.container {
    .cinema_box {
        .kino_promo {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 50px;
            margin-bottom: 20px;

            .kino_promo_poster_box {
                width: 500px;
                height: auto;

                .kino_promo_poster_img {
                    width: 100%;
                    height: 100%;
                }
            }

            .kino_promo_info {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .kino_promo_way {
                    color: #4F5B7C;
                    font-size: 16px;
                    font-weight: 500;

                    span {
                        color: #FFF;
                    }
                }

                .kino_promo_name {
                    color: #FFF;
                    font-size: 65px;
                    font-weight: 900;
                }

                .kino_promo_name_arig {
                    color: #FFF;
                    font-size: 25px;
                    font-weight: 500;
                }

                .kino_promo_chart_box {
                    width: 60px;
                    height: 60px;
                    // border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 8px;
                    padding: 8px;

                    #myChart {
                        // background-color: rgba(25, 30, 46, 1.0);
                        border-radius: 50%;

                        width: 100%;
                        height: 100%;
                    }

                    p {
                        color: #FFF;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }

                .kino_promo_description {
                    position: relative;
                    margin-top: 20px;
                    color: #ffffff;
                    font-size: 18px;
                    min-height: 120px;
                    height: 200px;
                    overflow: hidden;
                    overflow-y: auto;
                    font-weight: 500;
                    line-height: 166.5%;
                }

                .kino_promo_info_btn_box {
                    margin-top: 10px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 35px;

                    .to_trayler {

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        padding: 15px 20px;
                        background: none;
                        border-radius: 10px;
                        border: 2px solid #fff;
                        cursor: pointer;
                        transition: all 300ms ease;
                        filter: grayscale(100%) brightness(100%) contrast(0%) sepia(0%);
                        transition: filter 0.6s ease;

                        &:hover {
                            filter: none;
                            box-shadow: 0px 0px 20px 0px #ffffff10;
                        }

                        &:active {
                            scale: 0.98;
                        }

                        img {
                            width: 15px;
                        }

                        span {
                            color: #fff;
                            font-size: 14px;
                            font-weight: 700;
                        }

                    }

                    .soc {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 25px;

                        img {
                            width: 18px;
                            height: auto;
                            opacity: 0.6;
                        }
                    }
                }

            }

        }

        .reyting_box {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 15px;

            button {
                background-color: rgba(27, 33, 51, 1);
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0;
                cursor: pointer;
                padding: 15px;
                border-radius: 5px;
                // img {
                // width: 25px;
                // height: 25px;
                // }
            }

            .like {
                padding: 10px 15px 20px 15px;
            }

            .dislike {
                padding: 20px 15px 10px 15px;
            }

            p {
                color: #E8E9EB;
                font-size: 14px;
                font-weight: 500;
            }

        }

        .infor_box {
            .wrapper__list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 25px;
                column-gap: 50px;

                li {
                    max-width: 500px;
                    list-style: none;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;

                    span {
                        text-transform: capitalize;
                        display: block;
                        color: rgba(255, 255, 255, 0.9);
                        font-size: 16px;
                        font-weight: 400;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &:last-child {
                            a {
                                text-transform: none;
                                color: #f2f60f;
                                margin-left: 37px;
                            }

                            transition: 0.4s ease;

                            &:hover {
                                opacity: 0.7;
                                cursor: pointer;
                            }

                            color: #f2f60f;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .movies_actor_box {
            .movies_actor_hed {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 35px;

                p {
                    color: #FFF;
                    font-size: 65px;
                    font-weight: 900;
                }

                button {
                    color: #FFF;
                    font-size: 22px;
                    font-weight: 700;
                    border: none;
                    background: none;
                    cursor: pointer;
                }
            }

            .movies_actor {
                display: grid;
                margin: 0 auto;
                width: 100%;
                height: auto;
                background-color: rgba(0, 0, 0, 0);
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 23px;
                position: relative;
                margin-bottom: 30px;


                min-height: 500px;
                row-gap: 25px;
                column-gap: 30px;

                .actor_box_img {
                    width: 100%;
                    height: auto;
                }

                .actor_box_name {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .actor_box_name_ru {
                        color: #FFF;
                        font-size: 18px;
                        font-weight: 700;
                    }

                    .actor_box_name_en {
                        color: rgba(255, 255, 255, 0.70);
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .actor_box_name_fl {
                        color: #F2F60F;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }


        }

        .movies_posters_box {

            .movies_posters_hed {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 35px;

                p {
                    color: #FFF;
                    font-size: 65px;
                    font-weight: 900;
                }

                button {
                    color: #FFF;
                    font-size: 22px;
                    font-weight: 700;
                    border: none;
                    background: none;
                    cursor: pointer;
                }
            }

            .movies_posters_name {
                color: #FFF;
                font-size: 25px;
                font-weight: 600;
            }

            .movies_posters {
                display: grid;
                margin: 0 auto;
                width: 100%;
                height: auto;
                background-color: rgba(0, 0, 0, 0);
                grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
                gap: 20px;
                position: relative;
                margin-bottom: 30px;
                margin-top: 30px;



                .movies_poster {

                    .movies_poster_img {
                        width: 100%;
                        height: 100%;
                    }
                }

            }
        }
    }

}



/* ********************************** */
.sicvel_film_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    .sicvel_film {
        display: flex;
        gap: 15px;
    }

    .sicvel_film_hed {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 27px;
    }

    .sicvel_film_page {
        color: white;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .srel {
        background: none;
        border: none;
        width: 33px;
        color: white;
        cursor: pointer;
        font-size: 23px;
        height: auto;
    }



    .sicvel_film_hed p {
        color: #FFF;
        font-size: 65px;
        font-weight: 900;
    }



    .img_box {
        width: 300px;
        height: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

}





/* ******************************** */


/* ********************************** */
.sicvel_film_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    .sicvel_film {
        display: flex;
        gap: 15px;
    }

    .sicvel_film_hed {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 27px;
    }

    .sicvel_film_page {
        color: white;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .srel {
        background: none;
        border: none;
        width: 33px;
        color: white;
        cursor: pointer;
        font-size: 23px;
        height: auto;
    }



    .sicvel_film_hed p {
        color: #FFF;
        font-size: 65px;
        font-weight: 900;
    }



    .img_box {
        width: 300px;
        height: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

}



// ******************

// *************************
.film_img_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;

    .best_movies_hed {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
        }

        p {
            color: #FFF;
            font-size: 65px;
            font-weight: 900;
        }

        span {
            color: #FFF;
            font-size: 22px;
            font-weight: 700;
        }
    }

    .film_img_grid {
        width: 100%;
        // height: 300px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }

    .img_gr_box {
        width: 100%;
        height: 465px;
        border-radius: 5px;
        // object-fit: cover;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }

    .large {
        grid-column: span 2;
    }

}



.popular-movies {
    width: 100%;
    margin-bottom: 50px;

    &__header {
        margin-bottom: 40px;

        &-title {
            text-align: center;
            color: #fff;
            font-size: 30px;
            font-weight: 900;
            line-height: 50px;
        }
    }

    .swiper {
        user-select: none;
        width: 100%;
        padding-bottom: 50px;

        .swiper-wrapper {
            display: flex;
            height: 460px;
        }

        .swiper-button-disabled {
            opacity: 0;
        }

        .swiper-button-next,
        .swiper-button-prev {
            bottom: 0;
            top: auto;
            translate: -50% 0;
            margin-bottom: -10px;
        }

        .swiper-button-next {
            margin-right: -90px;
            right: 50%;
            left: auto;
        }

        .swiper-button-prev {
            margin-left: -65px;
            right: auto;
            left: 50%;
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            display: none;
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            position: relative;

            position: relative;
            overflow: hidden;

            .item-rating {
                z-index: 10;
                right: 10px;
                top: 10px;
                position: absolute;
                padding: 5px 10px;
                border-radius: 5px;
                background: #89cb36;

                span {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;
                }
            }

            .item-title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                margin-top: 5px;
                color: #fff;
                font-size: 15px;
                font-weight: 700;
            }

            .item-subtitle {
                text-transform: capitalize;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-top: 3px;
                display: block;
                color: #f2f60f;
                font-size: 12px;
                font-weight: 400;
            }

            .item-banner {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 430px;
                transition: animation 700ms ease;

                &:hover .item-banner__bg {
                    animation: fade-in 700ms ease-in;
                    opacity: 1;
                    visibility: visible;
                    transition-delay: opacity 0.4s;
                }

                animation: fade-in 700ms ease-in;

                &:hover .item-about {
                    animation: fade-in 1000ms ease-out;
                    transition-delay: all 0.4s;
                    visibility: visible;
                }

                &__bg {
                    overflow: hidden;
                    background: rgba(54, 87, 203, 0.6);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.6s, visibility 0.5s;
                }

                .item-about {
                    visibility: hidden;
                    z-index: 10;
                    overflow: hidden;
                    padding: 10px 15px;
                    border-radius: 10px;
                    transition: all 1s ease;

                    &:hover {
                        box-shadow: 0px 0px 20px 0px #ffffff80;
                    }

                    &:active {
                        scale: 0.95;
                    }

                    background: #fff;
                    cursor: pointer;

                    span {
                        color: #3657cb;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 166.5%;
                    }
                }
            }
        }

        .swiper-pagination {
            position: absolute;
            top: auto;
            bottom: 0;
            left: 50%;
            translate: -50% 0;
            width: 100px;
            color: #fff;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

// /*********************
@media (max-width: 1100px) {
    .popular-movies {
        .swiper {
            user-select: none;
            width: 100%;

            .item-banner {
                height: 100% !important;
            }

            .swiper-wrapper {
                display: flex;
                height: 350px !important;
            }
        }

        &__header {
            h2 {
                font-size: 32px;
            }

            &__content {
                grid-template-columns: 1fr 1fr;

                .item-banner {
                    height: 250px;
                }

                .item-rating {
                    padding: 5px;

                    span {
                        font-size: 14px;
                    }
                }

                .item-about {
                    max-width: 100%;

                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .kino_promo {
        .kino_promo_description {
            font-size: 16px !important;
            height: 120px !important;
        }

        .kino_promo_name {
            font-size: 40px !important;
        }
    }
}

@media (max-width: 900px) {
    .cinema_box {
        .infor_box {
            .wrapper__list {

                grid-template-columns: 1fr !important;
                row-gap: 25px;
                column-gap: 50px;

                li {
                    max-width: 500px;
                    list-style: none;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;

                    span {
                        text-transform: capitalize;
                        display: block;
                        color: rgba(255, 255, 255, 0.9);
                        font-size: 16px;
                        font-weight: 400;

                        &:last-child {
                            a {
                                text-transform: none;
                                color: #f2f60f;
                                margin-left: 37px;
                            }

                            transition: 0.4s ease;

                            &:hover {
                                opacity: 0.7;
                                cursor: pointer;
                            }

                            color: #f2f60f;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .movies_actor_hed {
        flex-direction: column;

        p {
            font-size: 35px !important;
        }
    }

    .movies_posters_hed {
        flex-direction: column;

        p {
            font-size: 35px !important;
        }
    }

    .best_movies_hed {
        flex-direction: column;

        p {
            font-size: 35px !important;
        }
    }

}

@media (max-width: 800px) {

    .kino_promo {
        flex-direction: column;
        overflow: hidden;
        height: auto;
        justify-content: center;
        align-items: center;

        .kino_promo_poster_box {
            height: 400px !important;
            width: 300px !important;
        }

        .kino_promo_info {
            align-items: center;
            justify-content: center;
        }

        .kino_promo_name {
            font-size: 25px !important;
        }
    }

    .movies_actor {
        min-height: 380px !important;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)) !important;
        row-gap: 20px !important;
        column-gap: 20px !important;
    }

    .movies_actor_hed p {
        font-size: 35px !important;
    }

    .movies_posters_hed p {
        font-size: 35px !important;
    }

    .best_movies_hed p {
        font-size: 35px !important;
    }
}


@media (max-width: 500px) {

    .popular-movies {
        &__header {
            h2 {
                font-size: 32px;
            }

            &-line {
                display: none;
            }

            &-categories {
                max-width: 100%;

                ul {
                    width: 100%;
                }
            }
        }

        .swiper {
            user-select: none;
            width: 100%;

            .item-banner {
                height: 100% !important;
            }

            .swiper-wrapper {
                display: flex;
                height: 290px !important;
            }
        }

        &__content {
            grid-template-columns: 1fr 1fr;

            .item-banner {
                height: 250px;
            }

            .item-rating {
                padding: 5px;

                span {
                    font-size: 14px;
                }
            }

            .item-about {
                max-width: 100%;

                span {
                    font-size: 14px;
                }
            }
        }
    }
    .film_img_grid {
        grid-template-columns: 1fr 1fr !important;
    gap: 15px !important;
    }
}