* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #1E2538;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}


/* *************************** */
.bg_poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-position: center;
  background-size: cover;
  transition: 1s ease;


  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #1e2538 10%, rgba(0, 0, 0, 0.5) 100%);
  }


}

.bg_poster.change {
  animation: change 1s ease;
}

@keyframes change {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.7;
  }
}

/* ************************** */

.container_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.now_kino_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.now_kino {
  display: grid;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  position: relative;
}

/* ********************* */

.footer {
  width: 100%;
  /* height: 700px; */
  padding: 20px 0;
  background-color: #151A26;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer_sub_box {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  height: auto;
  gap: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* background: rgba(29, 58, 160, 0); */

  background-size: cover;
  background-position: center;
}

.footer_sub_logo {
  width: 136px;
  height: 31px;
}

.footer_sub_t1 {
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

.footer_sub_t2 {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  width: 690px;
}



/* ******************* */
.img_box {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  position: relative;
}

.info_img_box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 5px;
}

.img_box img {
  width: 100%;
  height: 100%;
}

.nc_name {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}

.nc_ganr {
  color: #F2F60F;
  font-size: 15px;
  font-weight: 400;
}

/* *************************** */
.now_kino_btn {
  width: 200px;
  height: 71px;
  border-radius: 10px;
  border: 2px solid #FFF;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 50px;
}

/* *************************** */
.menu_box {
  display: flex;
  gap: 15px;
}

.menu_box a {
  color: white;
  font-size: 17px;
  font-weight: 700;
}

.user_box_search {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;

}

.user_box_search img {
  width: 100%;
  height: 100%;
}

.user_box {
  display: flex;
  gap: 12px;
}

.user_box_sign {
  cursor: pointer;
  border-radius: 10px;
  background: #3657CB;
  box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.80);
  color: white;
  width: 138px;
  height: 53px;
}


/* .btn_now_kino {
  display: none;
  width: 220;
  height: 70px;
  position: absolute;
  top: 200px;
  left: 70px;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 8px;
} */



/* ******************************** */
.btn_now_kino {
  position: absolute;
  border-radius: 10px;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #ffffff;
  color: #3657CB;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}



.now_kino_hed {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 27px;
}

.line {
  width: 52px;
  height: 0;
  border: 1px solid white;
}

.now_kino_hed p {
  color: #FFF;
  font-size: 65px;
  font-weight: 900;
}

.janr {
  display: flex;
  gap: 18px;
  align-items: center;
}

.janr a {
  color: rgba(255, 255, 255, 0.35);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}



/* ******************************** */

.popular_actor_hed {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 27px;
}

.popular_actor {
  display: flex;
  gap: 18px;
  margin-bottom: 40px;
}

.popular_actor .img_box {
  position: relative;
  width: 440px;
  height: 440px;

}

.popular_actor .img_box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.popular_actor .info_img_box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.popular_actor .nx_num {
  color: #F2F60F;
  font-size: 15px;
  font-weight: 500;
}

.popular_actor .nc_name {
  color: #FFF;
  font-size: 27px;
  font-weight: 700;
}

.popular_actor_hed p {
  color: #FFF;
  font-size: 65px;
  font-weight: 900;
}

.popular_actor_date {
  display: flex;
  gap: 18px;
  align-items: center;
}

.popular_actor_date a {
  color: rgba(255, 255, 255, 0.35);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

/* **** */

.popular_actor_list {
  width: 440px;
  height: 440px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border-radius: 10px;
  background: #1B2133;
  overflow-y: scroll;
}


.popular_actor_list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.popular_actor_list::-webkit-scrollbar-track {
  background-color: #1e253b;
}

.popular_actor_list::-webkit-scrollbar-thumb {
  background-color: #1e253b;
  border-radius: 5px;
}

.popular_actor_list::-webkit-scrollbar-thumb:hover {
  background-color: #39414a;
}

.popular_actor_blok {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.popular_actor_line {
  background: #1E2538;
  border: 1px solid #1E2538;
  height: 12px;
  width: 95%;
}

.popular_actor_blok_name_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 0;
  /* justify-content: space-between; */
}

.popular_actor_blok_name {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.popular_actor_blok_popularity {
  color: #F2F60F;
  font-size: 14px;
  font-weight: 400;
}

.popular_actor_blok_num {
  color: #F2F60F;
  font-size: 15px;
  font-weight: 600;
}


/* ********************************** */
.popular_film_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.popular_film {
  display: flex;
  gap: 15px;
}

.popular_film_hed {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 27px;
}

.popular_film_page {
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.srel {
  background: none;
  border: none;
  width: 33px;
  color: white;
  cursor: pointer;
  font-size: 23px;
  height: auto;
}

.line {
  width: 52px;
  height: 0;
  border: 1px solid white;
}

.popular_film_hed p {
  color: #FFF;
  font-size: 65px;
  font-weight: 900;
}

.popular_film_hed .date {
  display: flex;
  gap: 18px;
  align-items: center;
}

.img_box {
  width: 100%;
  height: auto;
}

.popular_film_hed .date a {
  color: rgba(255, 255, 255, 0.35);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}




/* ******************************** */

.new_treyler_hed {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 27px;
}

.new_treyler_nam {
  color: #FFF;
  font-size: 65px;
  font-weight: 900;
}

.new_treyler_showall {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
}

/* ********************************* */



iframe {
  width: 100%;
  height: 600px;
}




.img_box{
  cursor: pointer;
}



/* ***************************** treyler */

/* *************************************** */