* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1E2538;
  display: flex;

}

.container_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.now_kino_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.now_kino {
  display: grid;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: #1E2538;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 23px;
  position: relative;
}
/* ******************* */
.img_box {
  display: flex;
  max-width: 340px;
  height: auto;
  flex-direction: column;
}

.info_img_box{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 5px;
}

.img_box img {
  width: 100%;
  height: 100%;
}

.nc_name{
  color: #FFF;
font-size: 18px;
font-weight: 700;
}

.nc_ganr{
  color: #F2F60F;
font-size: 15px;
font-weight: 400;
}
/* *************************** */
.now_kino_btn {
  width: 200px;
height: 71px;
border-radius: 10px;
border: 2px solid #FFF;
background-color: rgba(255, 255, 255, 0);
color: white;
margin: 0 auto;
cursor: pointer;
margin-bottom: 50px;
}
/* *************************** */
.menu_box {
  display: flex;
  gap: 15px;
}

.menu_box a {
  color: white;
  font-size: 17px;
  font-weight: 700;
}

.user_box_search {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;

}

.user_box_search img {
  width: 100%;
  height: 100%;
}

.user_box {
  display: flex;
  gap: 12px;
}

.user_box_sign {
  cursor: pointer;
  border-radius: 10px;
  background: #3657CB;
  box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.80);
  color: white;
  width: 138px;
  height: 53px;
}


.btn_now_kino {
  display: none;
  width: 220;
  height: 70px;
  position: absolute;
  top: 200px;
  left: 70px;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 8px;
}



/* ******************************** */
.now_kino_hed {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
align-items: center;
padding: 20px 0 27px;
}

.line {
  width: 52px;
  height: 0;
  border: 1px solid white;
}

.now_kino_hed p {
  color: #FFF;
  font-size: 65px;
  font-weight: 900;
}

.janr{
  display: flex;
  gap: 18px;
  align-items: center;
}

.janr a{
  color: rgba(255, 255, 255, 0.35);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
/* ********************************** */





/* ******************************** */