//   /* ***************************** treyler */


// .content__info {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     gap: 20px;

//     &-left {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         gap: 30px;

//         h3 {
//             color: #fff;
//             font-size: 35px;
//             font-weight: 900;
//             line-height: 40px;
//         }

//         ul {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             gap: 15px;
//             padding: 0 1px;

//             li {
//                 a {
//                     display: flex;
//                     align-items: center;

//                     img {
//                         width: 20px;
//                         height: auto;
//                     }
//                 }

//                 filter: grayscale(0%) brightness(0%) contrast(0%) sepia(0%);
//                 transition: 0.6s ease;

//                 &:hover {
//                     filter: none;
//                 }

//                 list-style: none;
//                 width: 12px;

//                 &:first-child {
//                     width: 14px;
//                 }
//             }
//         }
//     }

//     &-right {
//         .buttons {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             gap: 8px;

//             div {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: center;
//                 gap: 5px;

//                 span {
//                     color: #fff;
//                     font-size: 15px;
//                     font-weight: 400;
//                 }

//                 .dislike-button {
//                     img {
//                         margin-bottom: -7px;
//                     }
//                 }

//                 button {
//                     cursor: pointer;
//                     transition: all 0.3s ease;

//                     &:active {
//                         scale: 0.95;
//                     }

//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     width: 40px;
//                     height: 40px;
//                     border: none;
//                     border-radius: 10px;
//                     background: #1b2133;

//                     img {
//                         width: 20px;
//                         height: auto;
//                     }
//                 }
//             }
//         }
//     }
// }

// .swiper-treyler {
//     width: 80%;
//     margin: 0 auto;
//     overflow: hidden;
//     position: relative;

//     .swiper-container {
//         display: flex;
//     }

//     .swiper-wrapper {
//         display: flex;
//         transition: transform 0.3s ease;
//     }

//     .swiper-item {
//         flex: 0 0 calc(100% / 4);
//         text-align: center;
//         padding: 10px;
//         border: 1px solid #ccc;
//     }
// }


// *****************************************************************


// .new-trailers {
//     &__header {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         gap: 10px;
//         flex-wrap: wrap;
//         margin-bottom: 40px;
//         user-select: none;
//         transition: all 0.3s ease;

//         &-title {
//             color: #fff;
//             font-size: 35px;
//             font-weight: 900;
//             line-height: 50px;
//         }

//         &-watchall {
//             margin-bottom: -10px;

//             a {
//                 display: flex;
//                 align-items: center;
//                 gap: 20px;
//                 color: #fff;
//                 font-size: 20px;
//                 font-weight: 700;
//                 text-decoration: none;
//             }

//             a:hover {
//                 text-decoration: underline;
//             }

//             svg {
//                 margin-bottom: -2px;
//             }
//         }
//     }

//     &__content {
//         display: flex;
//         flex-direction: column;
//         user-select: none;
//         transition: all 0.3s ease;

//         iframe {
//             width: 100%;
//             margin: 0 auto;
//             height: 600px;
//             transition: 0.5s linear;
//             margin-bottom: 10px;
//             border-radius: 10px;
//         }

//         .content__info {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             gap: 20px;

//             &-left {
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 gap: 30px;

//                 h3 {
//                     color: #fff;
//                     font-size: 35px;
//                     font-weight: 900;
//                     line-height: 40px;
//                 }

//                 ul {
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     gap: 15px;
//                     padding: 0 1px;

//                     li {
//                         a {
//                             display: flex;
//                             align-items: center;
//                         }

//                         filter: grayscale(0%) brightness(0%) contrast(0%) sepia(0%);
//                         transition: 0.6s ease;

//                         &:hover {
//                             filter: none;
//                         }

//                         list-style: none;
//                         width: 12px;

//                         &:first-child {
//                             width: 14px;
//                         }
//                     }
//                 }
//             }

//             &-right {
//                 .buttons {
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     gap: 8px;

//                     div {
//                         display: flex;
//                         flex-direction: column;
//                         align-items: center;
//                         justify-content: center;
//                         gap: 5px;

//                         span {
//                             color: #fff;
//                             font-size: 15px;
//                             font-weight: 400;
//                         }

//                         .dislike-button {
//                             img {
//                                 margin-bottom: -7px;
//                             }
//                         }

//                         button {
//                             cursor: pointer;
//                             transition: all 0.3s ease;

//                             &:active {
//                                 scale: 0.95;
//                             }

//                             display: flex;
//                             align-items: center;
//                             justify-content: center;
//                             width: 40px;
//                             height: 40px;
//                             border: none;
//                             border-radius: 10px;
//                             background: #1b2133;

//                             img {
//                                 width: 20px;
//                                 height: auto;
//                             }
//                         }
//                     }
//                 }
//             }
//         }

//         .content__wrapper {
//             display: flex;
//             align-items: flex-start;
//             gap: 13px;
//             border-radius: 10px;
//             margin-top: 10px;
//             overflow: hidden;
//             overflow-x: auto;
//             padding: 15px 0;

//             &::-webkit-scrollbar {
//                 height: 6px;
//             }

//             &::-webkit-scrollbar-thumb {
//                 border-radius: 10px;
//                 background: #3657cb;
//             }

//             &::-webkit-scrollbar-track {
//                 border-radius: 10px;
//                 background: #1b2133;
//             }

//             cursor: grab;

//             &.active {
//                 background: #00000059;
//                 cursor: grabbing;
//                 cursor: -webkit-grabbing;

//                 .wrapper__item {
//                     .item-thumbnail {
//                         cursor: grabbing !important;
//                     }
//                 }
//             }

//             .wrapper__item {
//                 position: relative;
//                 display: flex;
//                 flex-direction: column;
//                 align-items: flex-start;
//                 justify-content: center;
//                 gap: 6px;

//                 .polygon {
//                     position: absolute;
//                     top: 50%;
//                     left: 50%;
//                     translate: -50% -50%;
//                     width: 35px;
//                     height: auto;
//                 }

//                 .item-thumbnail {
//                     position: relative;
//                     cursor: pointer;
//                     overflow: hidden;
//                     border-radius: 10px;
//                     width: 300px;
//                     height: 210px;

//                     &:hover .banner-bg {
//                         animation: fade-in 500ms ease-in;
//                         opacity: 1;
//                         visibility: visible;
//                         transition-delay: opacity 0.4s;
//                     }

//                     .banner-bg {
//                         background: rgba(54, 87, 203, 0.6);
//                         position: absolute;
//                         top: 0;
//                         bottom: 0;
//                         left: 0;
//                         right: 0;
//                         opacity: 0;
//                         visibility: hidden;
//                         transition: opacity 0.7s, visibility 0.5s;

//                         &.active {
//                             animation: fade-in 700ms ease-in;
//                             opacity: 1;
//                             visibility: visible;
//                             transition-delay: opacity 0.4s;
//                         }
//                     }

//                     img {
//                         object-fit: cover;
//                     }
//                 }

//                 .item-title {
//                     color: #fff;
//                     font-size: 16px;
//                     font-weight: 700;
//                 }
//             }
//         }
//     }

//     margin-bottom: 50px;
// }

// *********************************\

.mailing-list {
    position: relative;
    border-radius: 10px;
    margin: 50px 0;
    padding: 40px 0;
    background-image: url("./public/mailing-list-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  
    &::after {
      content: "";
      position: absolute;
      background: rgba(29, 58, 160, 0.9);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    h3 {
      margin-top: 30px;
      color: #fff;
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      z-index: 12;
    }
  
    p {
      margin-top: 10px;
      max-width: 700px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 140.2%; /* 30.844px */
      z-index: 12;
    }
  
    .logo {
      z-index: 12;
      width: 130px;
      height: 30px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    form {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      z-index: 124;
  
      .form-top {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        transition: 0.5s ease;
        input[type="email"] {
          width: 400px;
          flex-shrink: 0;
          border-radius: 10px;
          background: #fff;
          padding: 10px 25px;
  
          outline: none;
          border: none;
          color: black;
          font-size: 17px;
          font-weight: 400;
          line-height: 166.5%;
        }
        button {
          transition: 0.5s ease;
          border-radius: 10px;
          background: #f2f60f;
          padding: 14px 30px;
          border: none;
          width: auto;
          height: auto;
          cursor: pointer;
          &:hover {
            background: #d3d60e;
          }
  
          color: #151a26;
          font-size: 16px;
          font-weight: 700;
  
          &:active {
            scale: 0.97;
          }
        }
      }
  
      .privacy {
        position: relative;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
  
        .custom-checkbox input[type="checkbox"] {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
  
        .custom-checkbox {
          position: relative;
          margin-top: -8px;
          padding-left: 20px;
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
        }
  
        .checkmark {
          transition: 0.5s ease;
          position: absolute;
          outline: none;
          top: 0;
          left: 0;
          width: 17px;
          height: 17px;
          background-color: #ccc;
          border-radius: 4px;
          cursor: pointer;
        }
  
        .custom-checkbox input[type="checkbox"]:checked + .checkmark {
          background-color: #f2f60f;
        }
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
  
        .custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
          display: block;
          left: 6px;
          top: 2px;
          width: 4px;
          height: 9px;
          border: solid black;
          border-radius: 2px;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
  
        p {
          color: #fff;
          text-align: center;
          font-size: 17px;
          font-weight: 400;
          a {
            color: #f2f60f;
            font-size: 17px;
            font-weight: 400;
            line-height: 140.2%;
          }
        }
      }
    }
  }


footer {
    padding: 50px 0;
    width: 100%;
    background: #151a26;
    .container {
      max-width: 1220px;
      margin: 0 auto;
      padding: 0 10px;
    }
    img {
        width: 25px;
        height: 25px;
    }
  }
  
  .footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer-navigation__top {
      margin-bottom: 30px;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        padding: 0 1px;
  
        li {
          a {
            display: flex;
            align-items: center;
          }
          filter: grayscale(100%) brightness(100%) contrast(0%) sepia(0%);
          transition: 0.6s ease;
          &:hover {
            filter: none;
          }
          color: white;
          list-style: none;
          width: 16px;
          &:first-child {
            width: 18px;
          }
        }
      }
    }
  
    nav {
      margin-bottom: 30px;
      .navigation__list {
        display: flex;
        align-items: center;
        gap: 13px;
        transition: all 0.3s ease;
        list-style: none;
        a {
          text-decoration: none;
          list-style: none;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          padding: 8px 13px;
          cursor: pointer;
          border-radius: 5px;
          transition: 1s ease;
  
          &:hover {
            background: #00000050;
          }
          display: inline-block;
        }
      }
    }
    .footer-navigation__bottom {
      text-align: center;
      p {
        color: rgba(227, 230, 240, 0.72);
        font-size: 15px;
        font-weight: 400;
        line-height: 119%; /* 17.85px */
        margin-bottom: 15px;
      }
  
      a {
        color: rgba(227, 230, 240, 0.72);
        font-size: 15px;
        font-weight: 400;
        line-height: 119%; /* 17.85px */
      }
    }
  }


// ********************************

